body {
    background: url('pictures/background_login_screen.png') no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

#block {
    position: fixed;

    background-color: white;
    border: 2px solid gray;
    border-radius: 15px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.1);


    width: 30%;
    left: 35%;
    top: 25%;

    text-align: center;
    padding: 25px;
}

#img {
    width: 90%;
    margin-top: 5px;
    margin-bottom: 15px;
}

#email {
    width: 95%;
    height: 30px;

    margin-bottom: 15px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);

    background-color: rgba(128, 128, 128, .15);
    text-align: center;
    font-size: 16px;
}

#password {
    width: 95%;
    height: 30px;

    margin-bottom: 25px;
    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);

    background-color: rgba(128, 128, 128, .2);
    text-align: center;
    font-size: 16px;
}

#login {
    width: 98%;
    height: 50px;

    border-radius: 12px;
    border: none;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);

    background-color: var(--color_primary);
    text-align: center;
    font-size: 25px;
    color: var(--white);
    font-weight: bold;
}

:root {
    --color_primary: #15b012;
    --black: #000;
    --white: #fff;
    --color_storm_dust_approx: #656565;
}